# fly.toml app configuration file generated for zoonk on 2023-10-09T14:28:39-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "zoonk"
primary_region = "iad"
kill_signal = "SIGTERM"
swap_size_mb = 512

[build]

[deploy]
  release_command = "/app/bin/migrate"

[env]
  PHX_HOST = "zoonk.io"
  PORT = "8080"

[build.args]
  CDN_URL = "https://cdn.zoonk.io"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[http_service.concurrency]
  type = "connections"
  hard_limit = 1000
  soft_limit = 1000
