<header class="flex items-center justify-between p-4 sm:px-6 lg:px-8">
  <.link href={~p"/"}>
    <img src="/images/logo.svg" alt={gettext("Logo")} class="h-14" />
  </.link>
</header>

<main class="p-4 sm:px-6 lg:px-8">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
