<!DOCTYPE html>
<html lang={Plug.Conn.get_session(@conn, :locale)} class="h-full bg-white [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title><%= page_title(assigns[:page_title], assigns[:school]) %></.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <script :if={enable_plausible?(assigns[:school_user])} defer data-domain={plausible_domain(assigns[:app])} src="https://plausible.io/js/script.js">
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href={~p"/favicon/apple-touch-icon.png"} />
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/favicon/favicon-32x32.png"} />
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/favicon/favicon-16x16.png"} />
    <link rel="manifest" href={~p"/favicon/site.webmanifest"} />
    <link rel="mask-icon" href={~p"/favicon/safari-pinned-tab.svg"} color="#ffc40d" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffc40d" />

    <meta :if={is_nil(assigns[:page_description])} name="robots" content="noindex" />
    <meta :if={assigns[:page_description]} name="description" content={assigns[:page_description]} />

    <meta property="og:type" content="school" />
    <meta property="og:site_name" content={school_name(assigns.school)} />
    <meta property="og:title" content={page_title(assigns[:page_title], assigns[:school])} />
    <meta property="og:image" content={social_image(assigns[:og_image], assigns[:school])} />
    <meta :if={assigns[:og_description]} property="og:description" content={assigns[:og_description]} />
  </head>

  <body class="h-full antialiased"><%= @inner_content %></body>
</html>
