<dl class="container grid grid-cols-1 gap-4 4xl:grid-cols-5 6xl:grid-cols-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6 xl:gap-8 2xl:grid-cols-4">
  <.trophy_badge :for={user_trophy <- @user_trophies} title={trophy_name(user_trophy.reason)} description={description(user_trophy)} />
</dl>
