<dl class="grid grid-cols-2 gap-4 sm:grid-cols-3">
  <div :for={user_trophy <- @user_trophies} class="bgamber-50 textamber-900 flex flex-col items-center gap-1 rounded-2xl p-4 text-center">
    <.icon name="tabler-trophy" />
    <dt class="text-sm font-black"><%= trophy_name(user_trophy.reason) %></dt>
    <dd class="mt-4 text-sm font-semibold"><%= description(user_trophy) %></dd>
  </div>
</dl>
