<.live_component
  module={Upload}
  folder={Storage.generate_folder_name(@school.id, "lessons", @lesson.id, "cover")}
  id={:lesson_cover}
  current_img={@lesson.cover}
  label={dgettext("orgs", "Cover")}
/>
