<.course_list
  id="courses-learning"
  title={gettext("My courses")}
  courses={@streams.courses_learning}
  my_courses
  empty={@courses_learning_empty?}
/>

<.course_list id="courses-list" title={gettext("Courses")} courses={@streams.courses} />
